* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  list-style: none;
}

h1 {
  font-family: 'Rubik', sans-serif;
}

.container {
  margin: auto;
  /*background-image: url(images/books-bkg.jpg); 
  background-size: cover;*/
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  width: 100vw;
}

/* Navigation bar */
.fle .heading {
  font-size: 32px;
}
.navigation-bar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-pages {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
}
a {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
a:hover {
  color: rgb(84, 84, 255);
}

/*Collection */

.collection {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.collection div {
  display: flex;
  justify-content: space-between;
  background-color: #e5e5e5;
  padding: 10px;
  border-bottom: #fff 1px solid;
}

.wave {
  width: 150px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

input {
  min-width: 400px;
  border: gray 1px solid;
  border-radius: 5px;
  padding: 5px;
}
section {
  min-height: 70vh;
}

button {
  width: fit-content;
  padding: 1px 5px;
  border: 1px solid gray;
  font-size: 18px;
}

/*Date */
.date {
  display: flex;
  justify-content: flex-end;
}
#t1 {
  text-decoration: underline;
  white-space: nowrap;
}
iframe {
  border: 0;
}
/* Book list section */
.book-list {
  display: flex;
}

/* Add books section */

.add-books {
  display: none;
  justify-content: center;
}

.contact {
  display: none;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
